@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');

body {
  font-family: "Open Sans", sans-serif;
}

img.header {
  max-height: 300px;
  display: flex;
  justify-content: center;
  margin: 0;
}

.headerContainer {
  display: flex;
  justify-content: center;
}

.homeSection {
  background-color: white;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .typingEffect {
    margin: 15px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 30px;
  }
}

.aboutSection {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .aboutContainer {
    display: flex;
    justify-content: center;
    .aboutText,
    .aboutImage {
      text-align: justify;
      text-justify: inter-word;
      font-size: 25px;
      margin: 20px;
      padding: 0;
      max-width: 500px;
      box-sizing: border-box;
      color: black;
      font-weight: 200px;
    }
  }
  .directories {
    display: flex;
    align-items: center;
    .directoryIcon {
      padding: 5px;
      height: 35px;
      width: 35px;
    }
  }
}

.episodesSection {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.episodesContainer {
  display: flex;
  overflow-x: scroll;
  width: 100%;
  margin-top: 20px;
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    max-width: 600px;
    border: none;
    max-height: 600px;
    opacity: 0.9;
    margin: 40px 20px 20px 20px;
    background-size: cover;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    &:hover {
      opacity: 1;
    }
    img {
      height: auto;
      max-height: 400px;
      width: auto;
      max-width: 400px;
      border: solid 5px none;
      border-radius: 5px;
    }
    .episodeIcon {
      padding: 5px;
      height: 35px;
      width: 35px;
    }
  }
}

.epSection {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .epTitle {
    margin: 15px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 30px;
  }
  .epContainer {
    display: flex;
    justify-content: center;
    .epText,
    .epImage {
      text-align: justify;
      text-justify: inter-word;
      font-size: 25px;
      margin: 20px;
      padding: 0;
      max-width: 30%;
      max-height: auto;
      box-sizing: border-box;
      color: black;
      font-weight: 200px;
    }
  }
  .directories {
    display: flex;
    align-items: center;
    // flex-direction: column;
    .directoryIcon {
      padding: 5px;
      height: 35px;
      width: 35px;
    }
  }

  .socials {
    display: flex;
    align-items: center;
    .directoryIcon {
      padding: 5px;
      height: 35px;
      width: 35px;
    }
  }
}
